:root {
  --fs: 1rem;
  --space: 1rem;
  --primary: hsl(220, 50%, 30%);
  --white: #e4e4e4;
  --black: #222;
}
html,
body {
  font-size: var(--fs);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--primary);
}
header,
nav,
main,
footer {
  padding: var(--space);
}
p,
button,
input {
  font-family: inherit;
  font-size: var(--fs);
}
.formBox {
  margin-block: var(--space);
}
input {
  padding: calc(0.5 * var(--space)) calc(2 * var(--space));
  margin-inline-start: 0;
  border: 1px solid var(--primary);

  &[type='file'] {
    padding: calc(0.5 * var(--space)) 0;
    border: none;
  }
}
button,
::file-selector-button {
  border: none;
  padding: calc(0.5 * var(--space)) calc(2 * var(--space));
  background-color: var(--primary);
  color: var(--white);
}
